@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: white;
    font-family: "Poppins", sans-serif;
}

html{
    scroll-snap-type: y mandatory;
    height: 100vh;
}

body{
    overflow-x: hidden;
}

section{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    scroll-snap-align: start;
    scroll-snap-stop: always;
    background: rgb(25,36,50);
}

#sobre{
    background-color: #192432;
    display: flex;
    justify-content: center;
}

.line{
    position: absolute;
    height: 127em;
    width: 5px;
    background-color: #C98264;
    z-index: 1;
    transform: rotate(70deg);
    overflow: hidden;
}




