*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: black;
    font-family: "Poppins", sans-serif;
}

section{
height: 100vh;
display: flex;
flex-direction: column;
align-items: center;
}

#main{
    background-color: #DDDDDD;
}

nav{
    display: flex;
    padding: 40px;
    justify-content: space-between;
    align-items: center;
    width: 90vw;
}

nav img{
    height:120px;
}


.nav-item{
    margin: 20px;
}

nav p {
 font-size: 1.5em;
 font-style: italic;
 font-weight: 300;
}

#info{
 display: flex;
 align-items: center;
 gap: 120px;
 margin: 150px;
 justify-content: center;

}

#info img{
    height: 500px;
}


#slogan p{
    font-size: 10em;
    font-family: serif;
    font-weight:350;
    line-height: 140px;
    font-family: 'Navitism', sans-serif;
}

#slogan .sub-title{
    font-size: 2.5em;
    font-weight: 200;
    font-family: "Poppins", sans-serif;
    
}

#slogan p span{
    color: #002147;
    font-family: 'Young Serif', sans-serif;
}

#arrow svg {
    height: 40px;
    margin-top: 120px;

}

#sobre{
    background-color: #192432;
    display: flex;
    justify-content: center;
}

#about{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
    width: 60vw;
    gap: 100px;
    background-color:#111822;;
}

#about-info{
    max-width: 40%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    
}

.about-title{
    font-size: 5.5em;   
    font-family: 'Navitism', sans-serif;
    color: #C98264;
    text-align: center;
}

#about-text p{
    max-width: 50%;
}

#about-picture img{
    height:600px;
}

.about-text{
    color: white;
    font-size: 1.3em;
}

.info-button{
    color: #C98264;
    background-color: unset;
    padding: 10px 30px;
    border-color: #C98264;
    border-radius: 10px;
    font-weight: 200;
    font-size: large;
    border-style: solid;
    border-width: 1px;
}


